/* General Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px; /* Set maximum width to avoid excessive stretching on larger screens */
    margin: 0 auto;
    padding: 0 20px; /* Add some padding to the sides for better readability */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

/* Header Styles */
header {
    background-color: #f0f0f0;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; /* Allow header content to wrap on smaller screens */
}

.logo img {
    max-width: 100%; /* Make the logo responsive */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0; /* Remove right margin from the last navigation item */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #15853c;
}

/* CSS for nav buttons */
.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent buttons from wrapping */
}
.nav-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
    padding: 1em 2em;
    margin: 0.5em;
    cursor: pointer;
    border-radius: 5px;
}

.nav-button:hover {
    background-color: #333;
    color: #fff;
}

/* Home Section Styles */
.home-section {
    background-image: url('banner.jpg');
    background-size: cover;
    color: #fff;
    padding: 100px 0;
    text-align: center;
}

.home-section h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.home-section p {
    font-size: 1.5em;
}

/* Other sections styles */
.container h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.container p {
    font-size: 1.1em;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.grid-item {
    width: 100%;
}

footer {
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

/* History Section Styles */
#history {
    background-color: #f0f0f0;
    padding: 50px 0;
    text-align: center;
}

.bordered-image {
    border: 5px solid #2b8c30;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.history-slider {
    width: 100%;
    overflow: hidden;
    margin-top: 20px; /* Add some spacing */
}

.history-slider img {
    width: calc(100% / 3);
    height: auto;
    float: left;
}

.history-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.history-item {
    flex: 0 0 calc(33.33% - 20px); /* Adjust width to fit three items per row */
    margin-bottom: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    overflow: hidden;
}

.history-item img {
    width: 100%;
    height: auto;
}

.history-label {
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin: 0;
    text-align: center;
}
